{% extends "institute_app/header.html" %} {% load static %} {% block content %}
<div
  class="wrapper bg-light min-vh-100 d-flex justify-content-center align-items-start"
>
  <div class="my-3">
    <div
      class="bg-white border border-2 rounded d-flex flex-column justify-center align-items-center"
    >
      <h1 class="text-center">Teacher Detail</h1>
      <table class="table text-center table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Sr No</th>
            <th scope="col">Username</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Date of Joining</th>
            <th scope="col">Address</th>
            <th scope="col">Compensation</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for teacher in teachers %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ teacher.person.username }}</td>
            <td>{{ teacher.person.dob }}</td>
            <td>{{ teacher.person.date_of_joining }}</td>
            <td>{{ teacher.person.address }}</td>
            <td>{{ teacher.compensation }}</td>
            <td>
              <div>
                <button class="btn btn-block btn-success" type="btn">
                Edit
                </button>
                <button class="btn btn-block btn-danger" type="btn">
                    delete
                  </button>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
