{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="./" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="CoreUI - Open Source Bootstrap Admin Template"
    />
    <meta name="author" content="Łukasz Holeczek" />
    <meta
      name="keyword"
      content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard"
    />
    <title>Institute Management System</title>
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="{% static 'favicon/apple-icon-57x57.png' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="{% static 'favicon/apple-icon-60x60.png' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="{% static 'favicon/apple-icon-72x72.png' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="{% static 'favicon/apple-icon-76x76.png' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="{% static 'favicon/apple-icon-114x114.png' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="{% static 'favicon/apple-icon-120x120.png' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="{% static 'favicon/apple-icon-144x144.png' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="{% static 'favicon/apple-icon-152x152.png' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'favicon/apple-icon-180x180.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="{% static 'favicon/android-icon-192x192.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'favicon/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="{% static 'favicon/favicon-96x96.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'favicon/favicon-16x16.png' %}"
    />
    <link rel="manifest" href="{% static 'favicon/manifest.json' %}" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="{% static 'favicon/ms-icon-144x144.png' %}"
    />
    <meta name="theme-color" content="#ffffff" />
    <!-- Vendors styles-->
    <link
      rel="stylesheet"
      href="{% static 'vendors/simplebar/css/simplebar.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/vendors/simplebar.css' %}" />
    <!-- Main styles for this application-->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <!-- We use those styles to show code examples, you should remove them in your application.-->
    <link href="{% static 'css/examples.css' %}" rel="stylesheet" />
    <link
      href="{% static 'vendors/@coreui/chartjs/css/coreui-chartjs.css' %}"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">
      <div class="sidebar-brand d-none d-md-flex">
        <svg
          class="sidebar-brand-full"
          width="118"
          height="46"
          alt="CoreUI Logo"
        >
          <use xlink:href="{% static 'assets/brand/coreui.svg#full' %}"></use>
        </svg>
        <svg
          class="sidebar-brand-narrow"
          width="46"
          height="46"
          alt="CoreUI Logo"
        >
          <use xlink:href="{% static 'assets/brand/coreui.svg#signet' %}"></use>
        </svg>
      </div>

      <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
        <li class="nav-item">
          <a class="nav-link" href="index.html">
            <svg class="nav-icon">
              <use
                xlink:href="{% static 'vendors/@coreui/icons/svg/free.svg#cil-speedometer' %}"
              ></use>
            </svg>
            Dashboard<span class="badge badge-sm bg-info ms-auto">NEW</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login.html" target="_top">
            <svg class="nav-icon">
              <use
                xlink:href="{% static 'vendors/@coreui/icons/svg/free.svg#cil-account-logout' %}"
              ></use>
            </svg>
            Login</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="register.html" target="_top">
            <svg class="nav-icon">
              <use
                xlink:href="{% static 'vendors/@coreui/icons/svg/free.svg#cil-account-logout' %}"
              ></use>
            </svg>
            Register</a
          >
        </li>
      </ul>
      <button
        class="sidebar-toggler"
        type="button"
        data-coreui-toggle="unfoldable"
      ></button>
    </div>
    {% block content %} {% endblock %}
    <!-- CoreUI and necessary plugins-->
    <script src="{% static 'vendors/@coreui/coreui/js/coreui.bundle.min.js' %}"></script>
    <script src="{% static 'vendors/simplebar/js/simplebar.min.js' %}"></script>
    <!-- Plugins and scripts required by this view-->
    <script src="{% static 'vendors/chart.js/js/chart.min.js' %}"></script>
    <script src="{% static 'vendors/@coreui/chartjs/js/coreui-chartjs.js' %}"></script>
    <script src="{% static 'vendors/@coreui/utils/js/coreui-utils.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
