{% extends "app/header.html" %} {% load static %} {% block content %}
<div class="wrapper d-flex flex-column min-vh-100 bg-light">
  <header class="header header-sticky mb-4">
    <div class="container-fluid">
      <button
        class="header-toggler px-md-0 me-md-3"
        type="button"
        onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()"
      >
        <svg class="icon icon-lg">
          <use
            xlink:href="{% static 'vendors/@coreui/icons/svg/free.svg#cil-menu' %}"
          ></use>
        </svg></button
      ><a class="header-brand d-md-none" href="#">
        <svg width="118" height="46" alt="CoreUI Logo">
          <use xlink:href="{% static 'assets/brand/coreui.svg#full' %}"></use>
        </svg>
      </a>
      <ul class="header-nav d-none d-md-flex">
        <li class="nav-item"><a class="nav-link" href="#">Dashboard</a></li>
      </ul>
      <ul class="header-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <svg class="icon icon-lg">
              <use
                xlink:href="{% static 'vendors/@coreui/icons/svg/free.svg#cil-bell' %}"
              ></use>
            </svg>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <svg class="icon icon-lg">
              <use
                xlink:href="{% static 'vendors/@coreui/icons/svg/free.svg#cil-list-rich' %}"
              ></use>
            </svg>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <svg class="icon icon-lg">
              <use
                xlink:href="{% static 'vendors/@coreui/icons/svg/free.svg#cil-envelope-open' %}"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
      <ul class="header-nav ms-3">
        <li class="nav-item dropdown">
          <a
            class="nav-link py-0"
            data-coreui-toggle="dropdown"
            href="#"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <div class="avatar avatar-md">
              <img
                class="avatar-img"
                src="{% static 'assets/img/avatars/8.jpg' %}"
                alt="user@email.com"
              />
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-end pt-0">
            <div class="dropdown-header bg-light py-2">
              <div class="fw-semibold">Settings</div>
            </div>
            <a class="dropdown-item" href="#">
              <svg class="icon me-2">
                <use
                  xlink:href="{% static 'vendors/@coreui/icons/svg/free.svg#cil-user' %}"
                ></use>
              </svg>
              Profile</a
            ><a class="dropdown-item" href="#">
              <svg class="icon me-2">
                <use
                  xlink:href="{% static 'vendors/@coreui/icons/svg/free.svg#cil-account-logout' %}"
                ></use>
              </svg>
              Logout</a
            >
          </div>
        </li>
      </ul>
    </div>
    <div class="header-divider"></div>
    <div class="container-fluid">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-0 ms-2">
          <li class="breadcrumb-item">
            <!-- if breadcrumb is single--><span>Manage Institute</span>
          </li>
          <li class="breadcrumb-item active"><span>Dashboard</span></li>
        </ol>
      </nav>
    </div>
  </header>
  <div class="body flex-grow-1 px-3">
    <div class="container-lg">
      <div class="row">
        <div class="col-sm-6 col-lg-3">
          <div class="card mb-4 text-white bg-primary">
            <div
              class="card-body pb-0 d-flex justify-content-between align-items-start"
            >
              <div>
                <div class="fs-4 fw-semibold">
                  200
                  <span class="fs-6 fw-normal">
                    <svg class="icon">
                      <use
                        xlink:href="{% static 'vendors/@coreui/icons/svg/free.svg#cil-arrow-bottom' %}"
                      ></use>
                    </svg>
                  </span>
                </div>
                <div>Students</div>
              </div>
              <div class="dropdown">
                <button
                  class="btn btn-transparent text-white p-0"
                  type="button"
                  data-coreui-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <svg class="icon">
                    <use
                      xlink:href="{% static 'vendors/@coreui/icons/svg/free.svg#cil-options' %}"
                    ></use>
                  </svg>
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                  <a class="dropdown-item" href="#">Action</a
                  ><a class="dropdown-item" href="#">Another action</a
                  ><a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </div>
            <div class="c-chart-wrapper mt-3 mx-3" style="height: 70px">
              <canvas class="chart" id="card-chart1" height="70"></canvas>
            </div>
          </div>
        </div>
        <!-- /.col-->
        <div class="col-sm-6 col-lg-3">
          <div class="card mb-4 text-white bg-info">
            <div
              class="card-body pb-0 d-flex justify-content-between align-items-start"
            >
              <div>
                <div class="fs-4 fw-semibold">
                  10
                  <span class="fs-6 fw-normal">
                    <svg class="icon">
                      <use
                        xlink:href="{% static 'vendors/@coreui/icons/svg/free.svg#cil-arrow-top' %}"
                      ></use>
                    </svg>
                  </span>
                </div>
                <div>Teachers</div>
              </div>
              <div class="dropdown">
                <button
                  class="btn btn-transparent text-white p-0"
                  type="button"
                  data-coreui-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <svg class="icon">
                    <use
                      xlink:href="{% static 'vendors/@coreui/icons/svg/free.svg#cil-options' %}"
                    ></use>
                  </svg>
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                  <a class="dropdown-item" href="#">Action</a
                  ><a class="dropdown-item" href="#">Another action</a
                  ><a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </div>
            <div class="c-chart-wrapper mt-3 mx-3" style="height: 70px">
              <canvas class="chart" id="card-chart2" height="70"></canvas>
            </div>
          </div>
        </div>
        <!-- /.col-->
        <div class="col-sm-6 col-lg-3">
          <div class="card mb-4 text-white bg-warning">
            <div
              class="card-body pb-0 d-flex justify-content-between align-items-start"
            >
              <div>
                <div class="fs-4 fw-semibold">
                  10
                  <span class="fs-6 fw-normal">
                    <svg class="icon">
                      <use
                        xlink:href="{% static 'vendors/@coreui/icons/svg/free.svg#cil-arrow-top' %}"
                      ></use>
                    </svg>
                  </span>
                </div>
                <div>Clubs</div>
              </div>
              <div class="dropdown">
                <button
                  class="btn btn-transparent text-white p-0"
                  type="button"
                  data-coreui-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <svg class="icon">
                    <use
                      xlink:href="{% static 'vendors/@coreui/icons/svg/free.svg#cil-options' %}"
                    ></use>
                  </svg>
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                  <a class="dropdown-item" href="#">Action</a
                  ><a class="dropdown-item" href="#">Another action</a
                  ><a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </div>
            <div class="c-chart-wrapper mt-3" style="height: 70px">
              <canvas class="chart" id="card-chart3" height="70"></canvas>
            </div>
          </div>
        </div>
        <!-- /.col-->
        <div class="col-sm-6 col-lg-3">
          <div class="card mb-4 text-white bg-danger">
            <div
              class="card-body pb-0 d-flex justify-content-between align-items-start"
            >
              <div>
                <div class="fs-4 fw-semibold">
                  1000
                  <span class="fs-6 fw-normal">
                    <svg class="icon">
                      <use
                        xlink:href="{% static 'vendors/@coreui/icons/svg/free.svg#cil-arrow-bottom' %}"
                      ></use>
                    </svg>
                  </span>
                </div>
                <div>Books</div>
              </div>
              <div class="dropdown">
                <button
                  class="btn btn-transparent text-white p-0"
                  type="button"
                  data-coreui-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <svg class="icon">
                    <use
                      xlink:href="{% static 'vendors/@coreui/icons/svg/free.svg#cil-options' %}"
                    ></use>
                  </svg>
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                  <a class="dropdown-item" href="#">Action</a
                  ><a class="dropdown-item" href="#">Another action</a
                  ><a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </div>
            <div class="c-chart-wrapper mt-3 mx-3" style="height: 70px">
              <canvas class="chart" id="card-chart4" height="70"></canvas>
            </div>
          </div>
        </div>
        <!-- /.col-->
      </div>
      <!-- /.row-->
      <div class="card mb-4">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div>
              <h4 class="card-title mb-0">Institute</h4>
              <div class="small text-medium-emphasis">January - July 2022</div>
            </div>
            <div
              class="btn-toolbar d-none d-md-block"
              role="toolbar"
              aria-label="Toolbar with buttons"
            >
              <div
                class="btn-group btn-group-toggle mx-3"
                data-coreui-toggle="buttons"
              >
                <input
                  class="btn-check"
                  id="option1"
                  type="radio"
                  name="options"
                  autocomplete="off"
                />
                <label class="btn btn-outline-secondary"> Day</label>
                <input
                  class="btn-check"
                  id="option2"
                  type="radio"
                  name="options"
                  autocomplete="off"
                  checked=""
                />
                <label class="btn btn-outline-secondary active"> Month</label>
                <input
                  class="btn-check"
                  id="option3"
                  type="radio"
                  name="options"
                  autocomplete="off"
                />
                <label class="btn btn-outline-secondary"> Year</label>
              </div>
              <button class="btn btn-primary" type="button">
                <svg class="icon">
                  <use
                    xlink:href="{% static 'vendors/@coreui/icons/svg/free.svg#cil-cloud-download' %}"
                  ></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="c-chart-wrapper" style="height: 300px; margin-top: 40px">
            <canvas class="chart" id="main-chart" height="300"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div>
      Copy Right © 2024 
    </div>
    <div class="ms-auto">
      Powered by&nbsp;<a href="#"
        >Devanshu Chauhan Company
      </a>
    </div>
  </footer>
</div>
{% endblock %}
